<!doctype html>
<html lang="en">
  <head>
    <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-108939105-1']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Search ICLR 2018{% if query %}: {{ query }}{% endif %}</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

    <script src="https://use.fontawesome.com/9d70712e2c.js"></script>
  </head>

  <body>

    <a href="https://github.com/Smerity/search_iclr_2018"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>

    <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3"><a href="/" style="color: inherit; text-decoration: none;">Search ICLR 2018</a></h1>
          <p>
            Searching papers submitted to ICLR 2018 can be painful.
            You might want to know which paper uses technique X, dataset D, or cites author ME.
            Unfortunately, search is limited to titles, abstracts, and keywords, missing the actual <i>contents</i> of the paper.
            This Frankensteinian search has been made to help scour the papers by ripping out their souls using <code>pdftotext</code>.
          </p>
          <p>
            Good luck!
            Warranty's not included :)
          </p>
          <form action="/search/" method="get" class="form-inline">
            <input name="query" class="form-control col-sm-6 mr-sm-2" type="text" placeholder="Recurrent Recursive Residual Gateway Networks" aria-label="Search" {% if query %}value="{{ query }}"{% endif %}>
            <button class="btn btn-primary" type="submit">Search</button>
          </form>

        </div>
      </div>

      {% if results %}
      <div class="container">

        <div class="row">
          <div class="col-md-12">
            <h3>"{{ query }}" <small class="text-muted">has {{ results|count }} results</small></h3>
          </div>
        </div>

        <hr />

        {% for result in results %}
        <div class="row" style="margin-bottom:0.5em">
          <div class="col-md-12">
            <h5>{{ result.title }}
              &nbsp; <a target="_blank" href="https://openreview.net/pdf?id={{ result.id }}"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
              &nbsp; <a target="_blank" alt="Forum Link" href="https://openreview.net/forum?id={{ result.id }}"><i class="fa fa-comments-o" aria-hidden="true"></i></a>
            </h5>
            {% if result['data']['content']['TL;DR'] %}
            <p class="mb-0"><b>tl;dr</b> {{ result['data']['content']['TL;DR'] }}
              <a data-toggle="collapse" href="#abstract-{{ result.id }}" aria-expanded="false" aria-controls="abstract-{{ result.id }}">(Show abstract)</a>
            </p>
            {% endif %}
            <div class="collapse" id="abstract-{{ result.id }}">
              <p class="card card-body mb-0 mt-2"><i>
                {{ result['data']['content']['abstract'] }}
              </i></p>
            </div>

          </div>
        </div>
        <hr />
        {% endfor %}

      </div> <!-- /container -->
      {% endif %}

    </main>

    <footer style="" class="pt-1 pb-1">
      <p class="text-center mb-0"><i>A disastrous by-product of <a href="https://twitter.com/Smerity">@Smerity</a>'s experiments</i></p>
    </footer>

  </body>
</html>
